/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 jun. 2023, 10:58:54
    Author     : ascen
*/
.t1{
    text-align: center;
    padding: 0.5em 4em 0.5em 0.5em;
    color: rgba(255,255,255,1);
    font-family: Harlow Solid Italic;
}